.icon {
  position: relative;
}

.icon .incoming-call {
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-radius: 8px;
  z-index: 2;
  position: absolute;
  top: 50px;
  right: 100px;
  background-color: white;
  width: 500px;
  padding: 10px;

  & .group-name {
    height: 100%;
    font-family: sans-serif;
    padding: 5px;
    box-sizing: border-box;
    font-size: 1.5rem;
    font-weight: bold;
    color: black;
  }
}

.receive-call svg,
.reject-call svg {
  cursor: pointer;
  font-size: 2rem;
  padding: 4px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.reject-call svg {
  color: red;
  background-color: rgb(255, 132, 132);
}

.receive-call svg {
  color: lime;
  background-color: rgb(189, 255, 189);
}
