:root {
  --home-background-color: black;
  --chat-background-color: #171717;
  --light-background-color: #212121;
  --input-background-color: rgb(44, 44, 44);
  --input-color: white;
  --fast-transition: 0.2s;
  --transition-timing-function: ease-in-out;
}

.home-container {
  position: relative;
  height: 100vh;
  background-color: var(--home-background-color);
  min-width: 830px;
}

.home-container .loader-container {
  margin: 0;
  padding: 0;
  position: fixed;
  display: grid;
  place-content: center;
  z-index: 1;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.6);
}

.home-container .loader-container .loader {
  width: 100%;
  inset: 0;
  width: 4rem;
  height: 4rem;
  border: 0.6rem solid lime;
  border-radius: 50%;
  border-left-color: transparent;
  border-right-color: transparent;
  animation: loader 0.8s ease-in-out alternate infinite;
}

.chat-container {
  position: absolute;
  bottom: 0;
  right: 0;
  background-color: var(--chat-background-color);
  width: 90%;
  height: 90vh;
  display: flex;
  flex-direction: column;
  border-top-left-radius: 20px;
  padding: 20px;
  box-sizing: border-box;
}

.chats {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  position: relative;
  overflow-y: auto;
  overflow-x: hidden;
}

.chats::-webkit-scrollbar {
  width: 16px;
}

.chats::-webkit-scrollbar-track {
  background: var(--home-background-color);
}

.chats::-webkit-scrollbar-thumb {
  border-radius: 8px;
  border: 3px solid rgb(0, 146, 0);
  background: var(--input-background-color);
  max-height: 20px;
  padding: 1rem;
  box-sizing: border-box;
}

.chats::-webkit-scrollbar-button {
  display: none;
}

.chat {
  color: white;
  padding: 0.5rem;
  display: flex;
  flex-direction: column;
  gap: 0.2rem;

  & .cred {
    display: flex;
    gap: 1rem;

    & .time {
      font-size: 0.9rem;
    }

    & .from {
      font-size: 0.9rem;
    }
  }

  & .msg {
    font-size: 1.3rem;
  }
}

.inputs {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.inputs input {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 6px;
  width: 900px;
  font-size: 1rem;
  outline: none;
  padding: 4px;
  padding-left: 6px;
  box-sizing: border-box;
  background-color: var(--input-background-color);
  border: none;
  color: var(--input-color);
}

.inputs button {
  background-color: transparent;
  color: white;
  border: none;
  font-size: 1.6rem;
  position: relative;
  top: 3px;
}

.groups {
  height: 100vh;
  width: 10%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 15px;
  box-sizing: border-box;
  gap: 1.6rem;
  overflow-y: auto;
  overflow-x: hidden;
}

.groups::-webkit-scrollbar {
  width: 16px;
}

.groups::-webkit-scrollbar-track {
  background: var(--home-background-color);
}

.groups::-webkit-scrollbar-thumb {
  border-radius: 8px;
  border: 3px solid rgb(0, 146, 0);
  background: var(--input-background-color);
  max-height: 20px;
  padding: 1rem;
  box-sizing: border-box;
}

.groups::-webkit-scrollbar-button {
  display: none;
}

.groups .group {
  height: 50px;
  width: 100%;
  padding: 6px;
  border-radius: 6px;
  background-color: var(--chat-background-color);
  display: flex;
  justify-content: space-around;
  align-items: center;
  cursor: pointer;
}

.groups .group .logo {
  display: flex;
  justify-content: center;
  align-items: center;
}

.groups .group .logo img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.groups .group .name {
  color: var(--input-color);
  font-size: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  overflow: hidden;
}

.groups .new-group {
  position: relative;
  box-sizing: border-box;
  cursor: pointer;

  & svg {
    font-size: 1.5rem;
    color: var(--input-color);
  }

  & .start {
    width: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    padding: 6px;
    justify-content: space-around;
  }
}

.accordion {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: absolute;
  width: 500px;
  height: 300px;
  background-color: white;
  left: 200px;
  top: 100px;
  transform: translateX(-100px);
  z-index: 3;
  border-radius: 20px;
  padding: 2rem;
  box-sizing: border-box;
  transition-property: opacity transform;

  & form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    font-size: 1rem;

    & .logo {
      position: relative;
      border: 2px solid black;
      width: 100px;
      height: 100px;
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      z-index: 1;

      & img {
        position: absolute;
        width: 100%;
        height: 100%;
        border-radius: 50%;
        inset: 0;
        z-index: -1;
      }

      & label {
        font-size: 2rem;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;

        & svg {
          font-size: 2rem;
          color: rgba(0, 0, 0, 0.7);
        }
      }

      & input {
        background-color: transparent;
        position: absolute;
        bottom: 0;
        display: none;
      }
    }

    & .createRoom {
      font-size: 1.5rem;
      box-sizing: border-box;
      padding: 6px;
      border: none;
      border-radius: 4px;
      background-color: lime;
      color: white;
    }
  }

  & .options {
    padding: 20px;
    display: flex;
    justify-content: flex-end;
    width: 100%;
    height: 10px;
    box-sizing: border-box;
    cursor: pointer;
  }

  & .options:hover {
    opacity: 0.5;
  }

  & .options svg {
    font-size: 1.8rem;
    box-sizing: border-box;
    color: black;
    font-weight: bold;
  }
}

.hidden {
  z-index: -2 !important;
  opacity: 0%;
}

.show {
  opacity: 100% !important;
  z-index: 3 !important;
  transform: translateX(0px) !important;
}

.selected-group {
  border: 2px solid lime;
}

.loader-show {
  opacity: 100% !important;
  z-index: 4 !important;
  transform: translateX(0px) !important;
}

.options {
  padding: 2rem;
  box-sizing: border-box;
  height: 10vh;
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 100px;
}

.group-settings {
  position: absolute;
  right: 0;
  bottom: 0;
  color: white;
  font-size: 2rem;
}

.options svg {
  color: var(--input-color);
  font-size: 1.8rem;
}

.accordion {
  transition-duration: var(--fast-transition);
  transition-timing-function: var(--transition-timing-function);
}

.invis {
  display: hidden;
}

@media screen and (max-width: 1400px) {
  .groups .group .name {
    display: none;
  }
}

@keyframes loader {
  to {
    transform: scale(1.2) rotate(1turn);
  }
}
