@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");

.settings-container {
  position: relative;
  z-index: 1;
  font-family: "Roboto";
  width: 100%;
  height: 100vh;
  padding: 20px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4rem;
  background-color: black;
  color: white;
}

.basic-settings {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 30%;
}

.logo-setting {
  position: relative;
  width: 150px;
  height: 150px;
  background-color: rgb(33, 33, 33);
  border-radius: 50%;

  & img {
    width: 150px;
    height: 150px;
    background-color: rgb(33, 33, 33);
    border-radius: 50%;
    border: 3px solid rgb(47, 0, 255);
  }
}

.edit-logo {
  font-size: 1.5rem;
  position: absolute;
  right: -10px;
  top: 0;
  height: 1.8rem;
  width: 1.8rem;
  cursor: pointer;

  &:hover {
    transform: scale(1.1);
    transition-property: transform;
  }

  & input {
    display: none;
  }
}

.group-name {
  position: relative;
  text-align: center;
  box-sizing: border-box;
  color: white;

  & input {
    background-color: black;
    border: none;
    width: 140px;
    outline: none;
    color: white;
    text-align: center;
    font-size: 2rem;
  }
}

.edit-name {
  font-size: 1.5rem;
  position: absolute;
  right: -30px;
  top: -20px;
  height: 1.8rem;
  width: 1.8rem;
  cursor: pointer;
}

.members-container label {
  font-size: 2rem;
  position: relative;
  z-index: 0;
}

.members {
  width: 500px;
  height: 250px;
  background-color: rgb(19, 19, 19);
  padding: 20px;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  border: 3px solid rgb(47, 0, 255);
  overflow-y: auto;
  overflow-x: hidden;
  position: relative;
  z-index: 1;
}

.members::-webkit-scrollbar {
  width: 16px;
}

.members::-webkit-scrollbar-track {
  background-color: rgb(19, 19, 19);
}

.members::-webkit-scrollbar-thumb {
  border-radius: 8px;
  border: 4px solid rgb(19, 19, 19);
  background: rgb(47, 0, 255);
  max-height: 20px;
  padding: 1rem;
  box-sizing: border-box;
}

.members::-webkit-scrollbar-button {
  display: none;
}

.member {
  font-size: 1.5rem;
  display: flex;
  padding: 2px;

  & .name {
    flex: 1;
  }

  & .icon {
    font-size: 1.6rem;
    color: red;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 6px;
    transition-property: background-color color font-weight;

    &:hover {
      background-color: red;
      color: white;
      font-weight: bold;
    }
  }
}

.invite-member {
  position: relative;
  z-index: 0;
  font-size: 1.5rem;
  display: flex;
  background-color: rgb(43, 43, 43);
  box-sizing: border-box;
  padding: 10px;
  text-align: center;
  border-radius: 8px;
  display: flex;
  align-items: center;
  cursor: pointer;

  &:hover {
    background-color: rgb(65, 65, 65);
  }

  & .name {
    flex: 1;
  }

  & .icon {
    cursor: pointer;
    display: flex;
    align-items: center;
    font-size: 1.6rem;
    color: red;
  }
}

.members-container .accordian-invite {
  width: 250px;
  position: absolute;
  top: 200px;
  right: 100px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  z-index: 2;
  background-color: rgb(47, 47, 47);
  padding: 20px;
  border-radius: 16px;
  gap: 20px;

  & input {
    width: 200px;
    outline: none;
    border-radius: 4px;
    border: none;
  }

  & button {
    cursor: pointer;
    font-size: 1.5rem;
    background-color: lime;
    color: white;
    border: 2px solid lime;
    border-radius: 8px;
    font-weight: bold;

    &:hover {
      background-color: white;
      color: lime;
      transform: scale(1.1);
      transition-property: color background-color transform;
    }
  }
}

.removed {
  background-color: rgb(255, 55, 55);
  color: white;
}

.submit {
  font-size: 2rem;
  display: flex;
  gap: 40%;
  justify-content: center;
}

.submit .cancel {
  cursor: pointer;
  font-size: 2rem;
  background-color: red;
  color: white;
  border: 2px solid red;
  border-radius: 8px;
  padding: 4px;
  box-sizing: border-box;
  font-weight: bold;

  &:hover {
    background-color: white;
    color: red;
    transform: scale(1.1);
    transition-property: color background-color transform;
  }
}

.submit .edit {
  cursor: pointer;
  font-size: 2rem;
  background-color: lime;
  color: white;
  border: 2px solid lime;
  border-radius: 8px;
  font-weight: bold;

  &:hover {
    background-color: white;
    color: lime;
    transform: scale(1.1);
    transition-property: color background-color transform;
  }
}

.submit .cancel,
.member .icon,
.logo-edit input,
.submit .edit {
  transition-duration: 0.2s;
  transition-timing-function: ease-in-out;
}
